body {
  display: flex;
  flex-direction: column;
} 

/*  BOXES AND CONTAINERS  */

/*main wrapper on index.php*/
#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*categories wrapper div in index.php*/
#categories {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: center;
}

/*books wrapper div in index.php*/
#books {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  align-items: center;
}

/*centered box*/
#box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*  STYLING  */

/*buttons*/
.btn {
  margin: 5px;
}

/*fonts*/
h1 {
  text-transform: uppercase;
}


/*at 768px when navbar changes by default in bootstrap*/
@media screen and (max-width: 768px) {
  /*  BOXES AND CONTAINERS  */
  #container {
    flex-direction: column;
    justify-content: space-around;
  }

  #books {
    order: -1;
  }

}